{% extends 'base.html' %} {% load static %} {% block content %}

<br />
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Tem certeza que deseja deletar o pedido do item {{ item }}?</p>
      <form action="" method="POST">
        {% csrf_token %}
        <a href="{% url 'accounts:index' %}" class="btn btn-sm btn-dark"
          >Cancelar</a
        >
        <input
          type="submit"
          name="submit"
          value="Remover"
          class="btn btn-sm btn-danger"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
